[Container]
Image=localhost/tsx-tracker:latest
PublishPort=50051:50051
EnvironmentFile=%h/.config/tsx-tracker/.env.podman
AutoUpdate=local

[Service]
Restart=always

[Install]
WantedBy=default.target
